<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item  lines="none">
    <ion-thumbnail slot="start">
      <img src="{{dp}}" style="border-radius: 100%;"/>
    </ion-thumbnail>
    <ion-label>
      <h2>{{name}}</h2>
      <p>{{phoneNumber}}</p>
    </ion-label>
  </ion-item>
  <ion-item lines="none" (click)="viewCart()">
    <ion-icon name="cart-outline" slot="start"></ion-icon>
    <ion-label>Cart</ion-label>
    <ion-badge slot="end" color="primary" mode="md" *ngIf="cart.length > 0">{{cart.length}}</ion-badge>
  </ion-item>

  <ion-item lines="none" (click)="viewOrders()">
    <ion-icon name="file-tray-full-outline" slot="start"></ion-icon>
    <ion-label>My Orders</ion-label>
  </ion-item>
</ion-content>