#pImg {
    width: 120px;
    height: 120px;
}

#pName {
    font-weight: bold;
}

ion-button {
    width: 48%;
}

.product {
    text-align: center;

    img {
        width: 150px;
        height: 150px;
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 5px;
    }
}